absl-py==2.3.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==2.4.1
astunparse==1.6.3
babel==2.18.0
bcrypt==5.0.0
bleach==6.1.0
blinker==1.9.0
cachetools==6.2.4
certifi==2024.8.30
cffi==2.0.0
charset-normalizer==3.4.7
click==8.2.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
courlan==1.4.0
cryptography==46.0.3
cycler==0.12.1
dateparser==1.4.1
debugpy==1.8.5
decorator==5.1.1
deprecation==2.1.0
Distance==0.1.3
executing==2.1.0
fastapi==0.128.0
Flask==3.1.1
flask-cors==6.0.0
Flask-JWT-Extended==4.7.1
flatbuffers==25.2.10
fonttools==4.54.1
fsspec==2026.1.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.72.1
h11==0.16.0
h2==4.3.0
h5py==3.13.0
hpack==4.1.0
htmldate==1.10.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
ipykernel==6.29.5
ipython==8.27.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
jusText==3.0.2
kaggle==1.6.17
keras==3.10.0
kiwisolver==1.4.7
libclang==18.1.1
lxml==6.1.1
lxml_html_clean==0.4.5
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mmh3==5.2.0
multidict==6.7.0
namex==0.1.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy==2.1.1
opt_einsum==3.4.0
optree==0.16.0
packaging==20.9
pandas==2.2.3
parso==0.8.4
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==11.0.0
platformdirs==4.3.2
postgrest==2.27.2
prompt_toolkit==3.0.47
propcache==0.4.1
protobuf==5.29.5
psutil==6.0.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.18.0
pyiceberg==0.10.0
PyJWT==2.10.1
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==5.3.0
pyroaring==1.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-slugify==8.0.4
pytz==2024.2
pywin32==306
pyzmq==26.2.0
RapidFuzz==3.14.3
realtime==2.27.2
regex==2026.5.9
requests==2.32.3
rich==14.0.0
Sastrawi==1.0.1
scikit-learn==1.6.0
scipy==1.14.1
setuptools==80.9.0
six==1.16.0
sortedcontainers==2.4.0
stack-data==0.6.3
starlette==0.50.0
storage3==2.27.2
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.27.2
supabase-auth==2.27.2
supabase-functions==2.27.2
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-hub==0.12.0
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.5.0
tld==0.13.2
tornado==6.4.1
tqdm==4.66.5
trafilatura==2.1.0
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
tzlocal==5.4.3
urllib3==2.2.3
uvicorn==0.40.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
yarl==1.22.0
